.main{
    width: 95%;
    height: 700px;
    background-color: rgb(13, 105, 243);
    margin: 75px auto;
    
}

.conteiner{
    display: flex;
}
.conteiner2{
    display: flex;
}

.title1{
text-align: center;
font-size: 38px;
color: white;
padding-top: 35px;

}

.block1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 50px;
    
}
.block2{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 50px;
    
}
.block3{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 50px;
    
}
.block4{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 100px;
    
}
.block5{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 100px;
    
}
.block6{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin-left: 250px;
    margin-top: 100px;
    
}
.h1{
    text-align: center;
    font-size: 35px;
}
.h2{
    text-align: center;
    font-size: 35px;
}
.h3{
    text-align: center;
    font-size: 35px;
}
.h4{
    text-align: center;
    font-size: 35px;
}
.h5{
    text-align: center;
    font-size: 35px;
}
.h6{
    text-align: center;
    font-size: 35px;
}
.p1{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.p2{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.p3{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.p4{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.p5{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.p6{
    margin-top: 45px;
    margin-left: -30px;
    font-size: 20px;
    color: white;
    padding-left: 0px;
    width: 250px;
    height: 150px;
}
.knopka{
    width: 250px;
    height: 50px;
    background-color: rgb(19, 221, 19);
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}


